:root {
    --Dark-cyan: hsl(185, 75%, 39%);
    --Very-dark-desaturated-blue: hsl(229, 23%, 23%);
    --Dark-grayish-blue: hsl(227, 10%, 46%);

    /* Neutral */
    --Dark-gray: hsl(0, 0%, 59%);
}
/* 
--------------- Reset CSS */
*, *::before, *::after {
    box-sizing: border-box;
}
body, h1, p {
    margin: 0;
    font-family: "Kumbh sans", sans-serif;
}
img {
  max-width: 100%;
  display: block;
}

/* 
---------------Initial CSS */
body {
    width: 100%;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url(images/bg-pattern-top.svg), url(images/bg-pattern-bottom.svg);
    background-repeat: no-repeat, no-repeat;
    background-position: right 50vw bottom 40vh, left 50vw top 50vh;
    background-color: var(--Dark-cyan);
    /* background-size: 100%; */
}
h1, p {
    font-size: 1.125rem;
}
h1 {
    font-weight: 700;
    color: var(--Very-dark-desaturated-blue);
}
p {
    color: var(--Dark-grayish-blue);
}

#main {
    min-height: 40vh;
    max-width: 80vw;
    display: flex;
    flex-direction: column;
    background: white;
    overflow: hidden;
    border-radius: 15px;
}
.profile-pattern {
    max-height: 40vh;
    width: 100%;
}

#bio {
    display: flex;
    flex-direction: column;
    align-items: center; 
}
.profile-picture {
    position: absolute;
    max-width: 6.5rem;
    height: auto;
    border-radius: 50%;
    border: 5px solid white;
    margin-top: -3rem;
}
.bio-desc {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 4.5rem;
}
.desc-info {
    display: flex;
}
.desc-info h1 {
    font-weight: 700;
}
.desc-info p {
    margin-left: 0.5rem;
}
.desc-city {
    margin-top: 0.5rem;
    font-size: 0.825rem;
    font-weight: 400;
}

#social-media {
    margin-top: 1.625rem;
    padding: 1.5rem 3rem;
    display: flex;
    justify-content: space-between;
    border-top: 0.5px solid rgba(223, 223, 223, 0.726);
}
.followers, .likes, .photos {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
div#social-media p {
    margin-top: 0.5rem;
    font-size: 0.6rem;
    letter-spacing: 2px;
}

@media screen and (max-width: 375px) {
    html {
        font-size: 12px;
    }
    body {
        background-position: right 45vw bottom 25vh, left 45vw top 25vh;
    }    
}